* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrt2LVO18SQzbl7oNOp4bApf2fpouhdoLmiQ&usqp=CAU);
    background-size: cover;
}
#nav {
  height: 100px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}
#nav-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav h3 {
  font-size: 16px;
  border: 2px solid black;
  padding: 2px 10px;
  border-radius: 50px;
  font-weight: 500;
}
#nav i {
  border: 2px solid black;
  padding: 2px 10px;
  border-radius: 50px;
}
#nav h1 {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

#nav button {
  padding: 7px 10px;
  border: 1.5px solid black;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 600;
}
#btn1 {
  background-color: white;
}
#btn2 {
  background-color: orangered;
  color: white;
}
#main > h1 {
  font-size: 150px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
img {
  height: 400px;
  width: 370px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  box-shadow: 10px 5px 5px red;
}
#img1 {
  transform: translate(-50%, -50%) rotate(-20deg);
}
#img2 {
  transform: translate(-50%, -50%) rotate(-30deg);
}
#img3 {
  transform: translate(-50%, -50%) rotate(-10deg);
}
#btm {
  position: absolute;
  bottom: 5%;
  left: 3%;
}
/* #box {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 20px;
}
box:hover{
       
} */
#icon{
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 25px;
}
#facebook:hover {
  color: blue;
}
#instagram:hover {
  color: darkmagenta;
}
#whatsapp:hover {
  color: green;
}
#youtube:hover {
  color: red;
}
#box h5 {
  font-weight: 200;
}
